<!-- eslint-disable @angular-eslint/template/elements-content -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="login-page--main-container">
  <!-- SPLASH SCREEN -->
  <div class="login-page--splash-screen" *ngIf="showSplashScreen">
    <div class="login-page--splash-content">
      <img src="assets/content/images/login-images/Group-img.svg" alt="Engage Logo" class="login-page--splash-logo" />
    </div>
  </div>

  <div class="app-screen--loader" *ngIf="showLoader">
    <kendo-loader
      type="converging-spinner"
      themeColor="info"
      size="medium"></kendo-loader>
    <div>{{ loaderMessage }}</div>
  </div>

  <!-- LOGIN PAGE LAYOUT -->
  <div class="login-page--layout" *ngIf="!showLoader && !showSplashScreen && isUserLoggedOut && !isOTPScreen">
    <!-- TOP SECTION - GRADIENT HEADER -->
    <div class="login-page--gradient-section">
      <img src="assets/content/images/dashboard-images/dashboard--ecrm-logo.png" alt="Logo" class="header-logo" />
      <div class="login-page--header-content">
        <h1 class="login-page--header-title">
          <span class="header-hey">Hey!</span>
          <span class="header-welcome">Welcome</span>
        </h1>
      </div>
    </div>

    <!-- BOTTOM SECTION - WHITE FORM -->
    <div class="login-page--form-section">
      <kendo-card class="login-page--kendo-card">
        <!-- HEADING SECTION INSIDE CARD -->
        <div class="login-page--card-header">
          <h2 class="login-page--signin-heading">Sign In</h2>
          <p class="login-page--subtext">
            Please use your CRM credentials to sign in.
          </p>
        </div>

        <div class="login-page--form-container">
          <form
            [formGroup]="loginForm"
            (keydown.enter)="onEnterPressed()"
            class="login-page--login-form">
            <div class="login-page--formfield">
              <div class="login-page--formfield-user">
                <kendo-formfield>
                  <kendo-textbox
                    class="login-page--textbox"
                    formControlName="username"
                    #username
                    required
                    placeholder="Username">
                    <ng-template kendoTextBoxPrefixTemplate>
                      <img
                        src="assets/content/images/login-images/profile.svg"
                        alt="new"
                        class="login-page--user-img" /> </ng-template
                  ></kendo-textbox>
                  <kendo-formerror class="login-page-kendo-form-error"
                    >Username is required</kendo-formerror
                  >
                </kendo-formfield>
              </div>

              <kendo-formfield>
                <kendo-textbox
                  #textbox
                  placeholder="Password"
                  [clearButton]="true"
                  class="login-page--textbox"
                  [type]="inputType"
                  formControlName="password">
                  <ng-template kendoTextBoxSuffixTemplate>
                    <button 
                      kendoButton 
                      type="button" 
                      look="clear" 
                      [svgIcon]="eyeIcon"
                      (click)="togglePasswordVisibility()"></button>
                  </ng-template>
                  <ng-template kendoTextBoxPrefixTemplate>
                    <img
                      src="assets/content/images/login-images/password.svg"
                      alt="new"
                      class="login-page--profile-img" />
                    <div></div>
                  </ng-template>
                </kendo-textbox>
                <kendo-formerror class="login-page-kendo-form-error">
                  Password is required
                </kendo-formerror>
              </kendo-formfield>

            </div>

            <div>
              <button
                kendoButton
                class="login-page--signin-button"
                [disabled]="loginForm.invalid"
                (click)="onSubmit()">
                Sign In
              </button>
            </div>

            <div class="login-page--forgot-div">
              <a class="login-page--forgot-link" (click)="onForgotPasswordClick()">
                Forgot password?
              </a>
            </div>
          </form>
        </div>
      </kendo-card>
    </div>
  </div>

  <div class="login-page--layout" *ngIf="!showLoader && !isUserLoggedOut && isOTPScreen">
    <div class="login-page--gradient-section">
      <img src="assets/content/images/dashboard-images/dashboard--ecrm-logo.png" alt="Logo" class="header-logo" />
      <div class="login-page--header-content">
        <h1 class="login-page--header-title">
          <span class="header-hey">Hey!</span>
          <span class="header-welcome">Welcome</span>
        </h1>
      </div>
    </div>

    <!-- BOTTOM SECTION - WHITE FORM -->
    <div class="login-page--form-section">
      <kendo-card class="login-page--kendo-card">
        <div class="login-page--card-header">
          <h2 class="login-page--signin-heading">OTP Verification</h2>
          <p class="login-page--subtext">
            OTP sent to your registered <b>{{ otpMethod == "phone"? "Mobile Number": "Email" }}</b>
          </p>
        </div>

        <div class="login-page--form-container">
          <div class="otp-container">
            <div class="otp-inputs">
              <input
                *ngFor="let ctrl of otpControls; let i = index"
                type="tel"
                maxlength="1"
                class="otp-box"
                [formControl]="ctrl"
                (input)="onOtpInput($event, i)"
                (keydown)="onOtpKeyDown($event, i)" />
            </div>

            <p class="otp-timer">
              OTP expires in <b>{{ countdown }}s</b>
            </p>

            <div class="otp-resend">
              <div class="resend-primary">
                <span class="muted">
                  Didn't get code?
                </span>

                <button
                  kendoButton
                  look="flat"
                  class="link-btn"
                  [disabled]="!canResend"
                  (click)="resendOtp(otpMethod)">
                  Resend
                  <span *ngIf="coolDownRemaining > 0">
                    ({{ coolDownRemaining }}s)
                  </span>
                </button>
              </div>

              <button
                kendoButton
                look="flat"
                class="switch-btn"
                [disabled]="!canResend"
                (click)="resendOtp(otpMethod === 'email' ? 'phone' : 'email')">
                Send code to
                {{ otpMethod === 'email' ? 'mobile number' : 'email' }}
              </button>
            </div>

            <button
              kendoButton
              class="login-page--signin-button"
              [disabled]="!isOtpComplete"
              (click)="verifyOtp()">
              Verify OTP
            </button>

            <div>
              <a routerLink="/login" class="forgotpassword-page--forgot-link">
                <i class="fa fa-arrow-left forgotpassword-page--forgot-link-back-icon"> </i>
                <span class="forgotpassword-page--forgot-link-text">Back to Login Page</span>
              </a>
            </div>
          </div>
        </div>
      </kendo-card>
    </div>
  </div>

</div>
