.item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.item-box {
  display: flex;
  align-items: center;
  padding: 5px;
}
.color-box {
  width: 12px;
  height: 12px;
  border-radius: 3px;
  margin-right: 10px;
}
.item-name {
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-size-02);
}