.app-navigation--header {
  color: var(--primary-white);
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  display: flex;
  align-items: center;
  line-height: 1.75rem;
  flex: 1 0 0;
}
.app-navigation-main--container {
  font-size: var(--text-size-1);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: var(--primary-background-color);
}