.logout-container {
  font-size: var(--text-size-2);
  font-weight: var(--font-weight-bolder);
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}
.logout-container::before {
  content: "";
  position: absolute;
  top: 0;
}

