.enquiry-update-forms--content{
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 0.75rem;
}
// .app-screen--header-new{
//   background-color: #f4f5f7;
// }
// .app-kendo-form--container {
//   border-radius: 0.5rem;
//   padding: 1rem;
//   margin: 0.5rem;
//   margin-top:0.25rem;
//   gap: 1rem;
//   box-shadow: 0 -2px 8px rgba(0,0,0,0.06);
// }