.kendo-card-content{
  display: flex;
  align-items: center;
}
.kendo-card-exp-content{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.kendo-card-content--title{
  color: #383838;
  font-size: var(--text-size-02);
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  line-height: normal;
}
.kendo-card-content--sub-title{
  color: var(--body-grey, #69727b);
  font-size: var(--text-size-03);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: normal;
}
.kendo-card-content--value{
  color: #383838;
  font-size: var(--text-size-03);
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  line-height: normal;
  justify-content: flex-start;
}
.kendo-card-content-left{
  display: flex;
  justify-content: left;
  gap:0.1rem;
}
.kendo-card-content-right{
  display: flex;
  justify-content: right;
  align-items: center;
  gap:0.1rem;
}
// .app-enquiry-details-listview--kendo-card {
//   padding-bottom: 0.5rem;
// }
.app-enquiry-details-listview--kendo-card-header {
  display: flex;
}

.fb-10{
  flex-basis: 10%;
}
.fb-20{
  flex-basis: 20%;
}
.fb-30{
  flex-basis: 30%;
}
.fb-315{
  flex-basis: 31.5%;
}
.fb-35{
  flex-basis: 35%;
}
.fb-375{
  flex-basis: 37.5%;
}
.fb-39{
  flex-basis: 39%;
}
.fb-40{
  flex-basis: 40%;
}
.fb-45{
  flex-basis: 45%;
}
.fb-50{
  flex-basis: 50%;
}
.fb-55{
  flex-basis: 55%;
}
.fb-60{
  flex-basis: 60%;
}
.fb-61{
  flex-basis: 61%;
}
.fb-625{
  flex-basis: 62.5%;
}
.fb-65{
  flex-basis: 65%;
}
.fb-685{
  flex-basis: 68.5%;
}
.fb-70{
  flex-basis: 70%;
}
.fb-80{
  flex-basis: 80%;
}
.fb-90{
  flex-basis: 90%;
}
.fb-100{
  flex-basis: 100%;
}