:where(html) {
  --primary-background-color: linear-gradient(270deg, #327790 0%, #49AFCD 33.33%, #89BA82 67.19%);

  --primary-color: #5cb5c1;
  --secondary-color: #163e4f;
  --terinary-color: #6eafd3;
  --quaternary-color: #2dbac6;

  --primary-white: #ffffff;
  --primary-black: #1c1b1b;

  --dark-icon: #1c1b1b;
  --light-icon: #ffffff;

  --disabled-grey: #bebebe;
  --header-grey: #5f5c5c;

  --secondary-selected: #ff6978;
}
