:where(html) {
  --primary-background-color: linear-gradient(270deg, #327790 0%, #49AFCD 33.33%, #89BA82 67.19%);

  --primary-color: #5cb5c1;
  --secondary-color: #163e4f;
  --terinary-color: #6eafd3;
  --quaternary-color: #2dbac6;

  --secondary-contrast-color: #115978;

  --primary-white: #ffffff;
  --primary-black: #1c1b1b;

  --dark-icon: #1c1b1b;
  --light-icon: #ffffff;

  --disabled-grey: #bebebe;
  --header-grey: #5f5c5c;

  --primary-icon: #2899CE;
  --primary-icon-outer: #EAF5FB;
  --secondary-icon: #E8793A;  
  --secondary-icon-outer: #FDF0E8;
  --tertiary-icon: #6AAD28;
  --tertiary-icon-outer: #EEF7E7;
  --quaternary-icon: #9272C0;
  --quaternary-icon-outer: #F2EEF9;
  --quinary-icon: #EAB308;
  --quinary-icon-outer: #FEF9E7;

  --secondary-selected: #ff6978;
}
