.dashboard-landingPage--container {
  margin-bottom: 1rem;
  background: #ffffff;
  margin-top: 0;
  height: -webkit-fill-available;
  border: none !important;
  border-top: none !important;
  border-bottom: none !important;
}
.dashboard-landingPage--flex-container {
  display: flex;
}
.dashboard-landingPage--title {
  // font-family: DM Sans;
  font-size: var(--text-size-1);
  font-weight: var(--font-weight-bolder);
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  flex: 1 0 0;
  margin-bottom: 1rem;
  color: var(--primary-black);
}

@media (max-width: 360px) {
  .app-dashboard--notification {
    font-size: var(--text-size-01);
  }
}