<div class="app-locked--container" *ngIf="!showAPILoader">
  <div class="app-secondary-header">
    <div class="app-secondary-header-left">
      <img src="assets/content/images/call-field-visit.svg" 
       style="width: 18px; height: 18px;filter: brightness(0) invert(1);"/>
      <div class="app-secondary-header-name">Field Visit</div>
    </div>
    <button class="app-secondary-header--btn"
      (click)="onBackClickHandle()">
      <i class="fa-solid fa-chevron-left app-secondary-header--btn-icon"></i>
      <span>Back</span>
    </button>
  </div>
</div>

<div class="app-screen--content" *ngIf="!showAPILoader" style="margin-top:1rem;">
    <div class="app-kendo-form--container">
      <form class="k-form k-form-md" [formGroup]="callFieldVisitForm">
        <kendo-formfield>
          <div class="app-kendo--content">
            <kendo-label class="app-kendo--label app-kendo--label-horizontal" [for]="probType">
              Type of Problem
            </kendo-label>
            <kendo-dropdownlist
              class="app-kendo--dropdownlist"
              formControlName="probType"
              #probType
              [data]="dependantComboDataForProbType"
              textField="comboName"
              valueField="comboId"
              [valuePrimitive]="true">
            </kendo-dropdownlist>
          </div>
          <kendo-formerror class="app-kendo--error-msg">
              Problem Type is required
          </kendo-formerror>
        </kendo-formfield>

        <kendo-formfield>
          <div class="app-kendo--content">
            <kendo-label class="app-kendo--label app-kendo--label-horizontal" [for]="competency">
              Competency
            </kendo-label>
            <kendo-dropdownlist
              class="app-kendo--dropdownlist"
              formControlName="competency"
              #competency
              [data]="dependantComboDataForCompetency"
              textField="comboName"
              valueField="comboId"
              [valuePrimitive]="true">
            </kendo-dropdownlist>
          </div>
          <kendo-formerror class="app-kendo--error-msg">
              Competency is required
          </kendo-formerror>
        </kendo-formfield>
        
        <kendo-formfield>
          <div class="app-kendo--content">
            <div class="app-kendo--textarea-wrapper">
              <kendo-label
                class="app-kendo--label"
                [for]="fieldVisitRemarks"
                >Remarks</kendo-label>
              <button 
                  type="button" 
                  class="mic-icon-btn" 
                  (click)="startListeningFieldVisitRemarks();">
                  <img src="assets/content/images/microphone.svg" alt="mic" />
              </button>
            </div>
            <kendo-textarea
              class="app-kendo--textarea"
              placeholder="Type your message here.."
              formControlName="fieldVisitRemarks"
              #fieldVisitRemarks
              [rows]="6"
              resizable="vertical" required></kendo-textarea>          
          </div>
          <kendo-formerror class="app-kendo--error-msg">Field visit remarks is required</kendo-formerror>
        </kendo-formfield>
      </form>
      <!-- <kendo-button (click)="getGeoCoords()"> Click for Location </kendo-button> -->
    </div>
    <div class="app-screen--footer">
      <button
        kendoButton
        class="app-save--button"
        *ngIf="isEditable"
        (click)="submit()">
        Submit
      </button>
      <button
        kendobutton
        *ngIf="isEditable"
        class="app-cancel--button"
        (click)="onBackClickHandle()">
        Cancel
      </button>
    </div>
</div>

<div class="app-screen--loader" *ngIf="showAPILoader">
  <kendo-loader
    type="converging-spinner"
    themeColor="info"
    size="medium"></kendo-loader>
  <div>{{ loaderMessage }}</div>
</div>   
