name: CI Pipeline

on:
  pull_request:
    branches: [dev, staging, main]
  push:
    branches: [dev, staging, main]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install deps
        run: npm install
      # - name: Run tests
      #   run: npm test -- --watch=false --browsers=ChromeHeadless
