<div class="forgotpassword-page--main-container">

  <!-- TOP SECTION - GRADIENT HEADER -->
  <div class="forgotpassword-page--gradient-section">
    <img src="assets/content/images/dashboard-images/dashboard--ecrm-logo.png" alt="Logo" class="forgotpassword-page--header-logo" />
    <div class="forgotpassword-page--header-content">
      <h1 class="forgotpassword-page--header-title">
        <span class="forgotpassword-page--header-hey">Set New</span>
        <span class="forgotpassword-page--header-welcome">Password</span>
      </h1>
    </div>
  </div>

  <!-- BOTTOM SECTION - WHITE FORM -->
  <div class="forgotpassword-page--form-section">
    <kendo-card class="forgotpassword-page--kendo-card">

      <div class="forgotpassword-page--card-header">
        <h2 class="forgotpassword-page--signin-heading">Create Password</h2>
        <p class="forgotpassword-page--subtext">
          Enter and confirm your new password below.
        </p>
      </div>

      <div class="forgotpassword-page--form-container">
        <form [formGroup]="loginForm" class="forgotpassword-page--login-form">
          <div class="forgotpassword-page--formfield">
            <div class="forgotpassword-page--formfield-user">
              <kendo-formfield>
                <kendo-textbox #newPassword
                               placeholder="New Password"
                               [clearButton]="true"
                               class="forgotpassword-page--textbox"
                               [type]="newPasswordInputType"
                               formControlName="createpassword"
                               (keyup)="onPasswordKeyup($event.target)">

                  <ng-template kendoTextBoxSuffixTemplate>
                    <button kendoButton
                            type="button"
                            look="clear"
                            [svgIcon]="eyeIcon"
                            (click)="toggleVisibility('newPassword')"></button>
                  </ng-template>
                  <ng-template kendoTextBoxPrefixTemplate>
                    <img src="assets/content/images/login-images/password.svg" alt="new" class="forgotpassword-page--textbox-img">
                    <div></div>
                  </ng-template>
                </kendo-textbox>
                <kendo-formerror class="forgotpassword-page-kendo-form-error">
                  New Password is required
                </kendo-formerror>
              </kendo-formfield>
            </div>
            <kendo-formfield>
              <kendo-textbox #confirmPassword
                             placeholder="Confirm New Password"
                             [clearButton]="true" class="forgotpassword-page--textbox"
                             [type]="confirmPasswordInputType"
                             formControlName="confirmpassword"
                             (keyup)="onConfirmPasswordKeyup($event.target)">

                <ng-template kendoTextBoxSuffixTemplate>
                  <button kendoButton
                          type="button"
                          look="clear"
                          [svgIcon]="eyeIcon"
                          (click)="toggleVisibility('confirmPassword')"></button>
                </ng-template>
                <ng-template kendoTextBoxPrefixTemplate>
                  <img src="assets/content/images/login-images/password.svg" alt="new" class="forgotpassword-page--textbox-img">
                  <div></div>
                </ng-template>
              </kendo-textbox>
              <kendo-formerror class="forgotpassword-page-kendo-form-error">
                Password should match the new password
              </kendo-formerror>
            </kendo-formfield>
          </div>

          <div>
            <div class="forgotpassword-page--validation">
              <p *ngIf="isPasswordNotMatching" class="invalid" style="color:red">
                <img class="forgotpassword-page--validation-img"
                src="assets/content/images/invalid.svg"
                alt="new"/>
                Passwords do not match !!
              </p>
                <p [ngClass]="{'invalid': !isCapitalValid, 'valid': isCapitalValid}">
                  <img *ngIf="isCapitalValid" class="forgotpassword-page--validation-img"
                  src="assets/content/images/check.svg"
                  alt="new"/>
                  <img *ngIf="!isCapitalValid" class="forgotpassword-page--validation-img"
                  src="assets/content/images/uncheck.svg"
                  alt="new"/>
                  At least one capital letter
                </p>
                <p [ngClass]="{'invalid': !isNumberValid, 'valid': isNumberValid}">
                  <img *ngIf="isNumberValid" class="forgotpassword-page--validation-img"
                  src="assets/content/images/check.svg"
                  alt="new"/>
                  <img *ngIf="!isNumberValid" class="forgotpassword-page--validation-img"
                  src="assets/content/images/uncheck.svg"
                  alt="new"/>
                  At least one number
                </p>
                <p [ngClass]="{'invalid': !isLengthValid, 'valid': isLengthValid}">
                  <img *ngIf="isLengthValid" class="forgotpassword-page--validation-img"
                  src="assets/content/images/check.svg"
                  alt="new"/>
                  <img *ngIf="!isLengthValid" class="forgotpassword-page--validation-img"
                  src="assets/content/images/uncheck.svg"
                  alt="new"/>
                  Be at least 5 characters
                </p>
            </div>
            <button kendoButton
                class="forgotpassword-page--signin-button"
                [disabled]="loginForm.invalid && !userAuthenticated"
                (click)="onSubmit()">
              Update Password
            </button>
          </div>

          <div>
            <p *ngIf="!userAuthenticated" class="forgotpassword-page--expired-link">
              Password cannot be changed as Link is expired
            </p>
            <a routerLink="/login" class="forgotpassword-page--forgot-link">
              <i class="fa fa-arrow-left forgotpassword-page--forgot-link-back-icon"></i>
              <span class="forgotpassword-page--forgot-link-text">Back to Login Page</span>
            </a>
          </div>
        </form>
      </div>

    </kendo-card>
  </div>

</div>
